@import "./base/normalize";
@import "./base/variable";
@import "./base/layout";
html,
body {
  width: 100%;
  height: 100%;
  font-size: 13px;
}
.wrap {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
//map marker
.marker {
  width: 60px;
  height: 27px;
  border: none;
  border-radius: 30px;
  text-align: center;
  padding: 5px 0;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 13px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}
//top contents
.top-container {
  padding: $layoutPadding;
  padding-top: 38px;
  &.load {
    .top-wrapper {
      .main-image-wrap .tape {
        clip: rect(0, 100vw, 100vh, 0vw);
        transition: all 0.4s ease;
        transition-delay: 0.7s;
      }
    }
    .image-wrap .image {
      transform: scale(1);
      opacity: 1;
      transition: opacity 0.4s ease, transform 0.7s $easeOut;
    }
    .name-box-wrapper {
      .name {
        transform: translate3d(0, 0, 0);
        transition: transform 0.5s $easeOut;
        transition-delay: 0.4s;
        &.second {
          transition-delay: 0.5s;
        }
      }
    }
    .info-box-wrapper {
      p {
        opacity: 1;
        transition: all 0.5s $easeOut;
        transition-delay: 0.5s;
        &.location {
        }
      }
    }
  }
  .top-wrapper {
    position: relative;
    max-width: $maxWidth;
    margin: 0 auto;
    .main-image-wrap {
      position: relative;
      .typo-graphic {
        position: absolute;
        width: 220px;
        right: -40px;
        top: 20px;

        img {
          width: 100%;
        }
      }
      .tape {
        position: absolute;
        display: inline-block;
        width: 54px;
        height: 16px;
        background: #2bf083;
        clip: rect(0, 100vw, 100vh, 16vw);
        &.left {
          top: 7px;
          left: -15px;
          transform: rotate(-45deg);
        }
        &.right {
          bottom: 7px;
          right: -15px;
          transform: rotate(135deg);
        }
      }
    }
  }
  .image-wrap {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0 auto;
    padding-top: 136.5%;
    .image {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transform: scale(1.1);
    }
  }
  .name-box-wrapper {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
    overflow: hidden;
    .name {
      position: relative;
      display: inline-block;
      font-size: 18px;
      font-weight: 800;
      margin: 0 5px;
      vertical-align: middle;
      transform: translate3d(0, 20px, 0);
    }
    .slash {
      display: inline-block;
      width: 12px;
      height: 16px;
      background-image: url("../images/img-slash-name.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      vertical-align: middle;
    }
  }
  .info-box-wrapper {
    svg {
      height: 0;
    }
    .title-box {
      position: relative;
      width: 100%;
      padding-top: 15%;
      margin: 0 auto;
      .title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 198, 97);
        background: linear-gradient(
          90deg,
          rgba(255, 198, 97, 1) 0%,
          rgba(255, 223, 151, 1) 25%,
          rgba(254, 241, 197, 1) 32%,
          rgba(251, 210, 114, 1) 39%,
          rgba(220, 153, 34, 1) 100%
        );
        -webkit-clip-path: url(#title_shape);
        clip-path: url(#title_shape);
      }
    }
    p {
      opacity: 0;
    }
    .date {
      text-align: center;
      font-size: 14px;
    }
    .location {
      text-align: center;
      font-size: 14px;
      margin-top: 6px;
    }
  }
  .arrow-bottom {
    width: 50px;
    height: 30px;
    background-image: url("../images/arrow-bottom.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }
}
//message content
.message-container {
  background-color: #f6f6f6;
  padding: 70px 50px;
  margin-top: 58px;
  .message {
    p {
      font-size: 15px;
      line-height: 32px;
      text-align: center;
    }
  }
  .contact {
    position: relative;
    margin-top: 41px;
    padding-top: 46px;
    text-align: center;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 30px;
      height: 1px;
      background: rgba(0, 0, 0, 0.12);
    }
    .dic {
      span {
        font-size: 16px;
        &:nth-child(2) {
          position: relative;
          padding-left: 10px;
          &::before {
            content: "";
            top: 0;
            bottom: 0;
            left: 5px;
            margin: auto;
            position: absolute;
            display: inline-block;
            width: 2px;
            height: 2px;
            background-color: #d8d8d8;
            border-radius: 50%;
          }
        }
      }
      .role {
        margin-left: 10px;
      }
      .name {
        margin-left: 10px;
        font-weight: 800;
      }
      & + .dic {
        margin-top: 20px;
      }
    }
  }
}
//calendar{
.calendar-container {
  position: relative;

  width: 249px;
  margin: 70px auto;
  &.active {
    .bar {
      width: 190px;
    }
    .circle {
      opacity: 1;
      transform: scale(1);
    }
  }
  .bar {
    position: absolute;
    top: 17px;
    left: 55px;
    // width: 190px;
    width: 0px;
    height: 1px;
    background-color: #000;
    transition: all 0.7s $easeOut;
  }
  .circle {
    position: absolute;
    top: 42px;
    right: 0;
    width: 29px;
    height: 29px;
    background-color: #000;
    border-radius: 30px;
    z-index: -1;
    transform: scale(0.8);
    opacity: 0;
    transition: opacity 0.3s ease,
      transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition-delay: 0.2s;
  }
  .calendar-wrapper {
    .contents {
      circle {
        fill: #000;
      }
    }
  }
  .title {
    h2 {
      font-size: 40px;
    }
  }
}
//gallery
.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: $maxWidth;
  height: 100%;
  pointer-events: none;

  margin: 0 auto;
  .particle-box {
    position: absolute;
    left: 0;
    &:nth-child(2n) {
      left: auto;
      right: 0;
    }
  }
  .particle {
    display: inline-block;
    width: 16px;
    height: 43px;
    background-color: #2bf083;
    transform: rotate(45deg);
    &.even {
      background-color: #2932ff;
    }
  }
}
.gallery-container {
  position: relative;
  margin-top: 13px;
  text-align: center;
  background-color: #f4f4f4;
  padding: 61px 0;
  .gallery-wrapper {
  }
  .title {
    h2 {
      font-size: 28px;
      font-weight: 800;
    }
  }
  .contents {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px 0px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    max-width: $maxWidth;
    .paral-image {
      position: relative;
      width: 106%;
      &:nth-child(2n) {
        left: -6%;
      }
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        top: 100px;
      }
      &:nth-child(3) {
        top: 20px;
      }
      &:nth-child(4) {
        top: 100px;
      }
      &:nth-child(5) {
        top: 20px;
        left: 20px;
      }
      &:nth-child(6) {
        top: 220px;
      }
      &:nth-child(7) {
        top: 50px;
      }
    }
    .image-wrap {
      position: relative;
      width: 100%;
      padding-top: 100%;
      transform: scale(1);
      transition: transform 0.3s ease;
      
      .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  .btn-more {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 35px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 13px;
  }
}
//graphic title
.graphic_title {
  position: relative;
  width: 129px;
  margin: 0 auto;
  &.map {
    width: 143px;
  }
  h2 {
    position: relative;
    width: 100%;
    z-index: 10;
  }
  p {
    position: absolute;

    &.gallery {
      width: 200px;
      top: 10px;
      left: 36px;
    }
    &.map {
      width: 68px;
      top: 18px;
      left: 96px;
    }
  }
}
//demo
.demo {
  position: absolute;
  width: 100%;
  // top: -95px;
  top: 26px;
  left: 0;
  opacity: 0.6;
  pointer-events: none;
  img {
    width: 100%;
  }
}

//location
.location-container {
  padding: 60px 0;
  max-width: $maxWidth;
  margin: 0 auto;
  .map-wrapper {
    margin-top: 33px;
  }
  .info-box-wrapper {
    position: relative;
    padding: $layoutPadding;
    padding-top: 38px;
    .btn-call {
      position: absolute;
      right: 30px;
      top: 45px;
      width: 40px;
    }
    .title {
      padding: 0;
      h3 {
        font-size: 18px;
        line-height: 1.45;
      }
      span {
        padding: 0;
      }
      span.tel {
        padding: 0;
        font-size: 13px;
        margin-top: 13px;
        display: block;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    .dic {
      padding: 0;
      margin-top: 40px;
      h3 {
        padding: 0;
      }
      p {
        padding: 0;
        margin-top: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}
//footer
.footer-container {
  background-color: #f6f6f6;
  text-align: center;
  padding: 48px 0;
  * {
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
      "Arial", sans-serif;
  }
  h4 {
    font-size: 15px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.25);
  }
  p {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.25);
    margin-top: 10px;
  }
}
//loading
.loading-box {
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}
.main-loading-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  z-index: 9900;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 1;

  .main-loading {
    position: relative;
    width: 150px;
    height: 33px;
    top: -20px;
    overflow: hidden;
  }
  .progress-wrap {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: 1px;
    width: 140px;

    margin: 0 auto;
    .progress {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.5s ease;
    }
  }
  .text-wrap {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    transition: opacity 0.3s ease, transform 0.8s ease;
    opacity: 0;
    transform: translate3d(0, 40px, 0) rotate(6deg) rotateX(-12deg);
    -webkit-perspective: 1200px;
    perspective: 1200px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &.active {
      opacity: 1;
      transform: translate3d(0, 0px, 0) rotate(0deg) rotateX(0deg);
    }
    .text {
      color: rgba(0, 0, 0, 0.8);
      font-size: 14px;
      white-space: nowrap;
      font-weight: 500;
      font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue",
        "Helvetica", "Arial", sans-serif;
    }
  }
}
